integrations/allo/wf-allo-events-handler.json
{
  "name": "Allo events handler (phase 1: calls)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "allo-events",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "1f6c4d2e-6c1f-4f6a-8c80-c0a1ce2c0001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "allo-events",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Verify Svix-format webhook signature sent by Allo.\n// Headers: webhook-id, webhook-timestamp, webhook-signature (\"v1,<base64sig>[ v1,<base64sig>...]\")\n// Signed content = `${id}.${timestamp}.${rawBody}` (utf8)\n// Secret format: whsec_<base64>. Decode base64 to get raw bytes, used as HMAC key.\nconst crypto = require('crypto');\n\nconst secret = $env.ALLO_WEBHOOK_SECRET;\nif (!secret) throw new Error('ALLO_WEBHOOK_SECRET env var is not set on the n8n container');\n\nconst item = $input.first();\nconst headers = item.json.headers || {};\nconst id = headers['webhook-id'];\nconst timestamp = headers['webhook-timestamp'];\nconst sigHeader = (headers['webhook-signature'] || '').trim();\nif (!id || !timestamp || !sigHeader) throw new Error('Missing Svix webhook headers (webhook-id / webhook-timestamp / webhook-signature)');\n\n// Reject if timestamp is more than 5 min off (replay protection).\nconst now = Math.floor(Date.now() / 1000);\nconst tsNum = parseInt(timestamp, 10);\nif (!Number.isFinite(tsNum) || Math.abs(now - tsNum) > 300) throw new Error('Webhook timestamp out of tolerance');\n\n// Raw body is on item.binary.body when Webhook node has rawBody=true.\nlet rawBuf;\nif (item.binary && item.binary.body && item.binary.body.data) {\n  rawBuf = Buffer.from(item.binary.body.data, 'base64');\n} else if (typeof item.json.body === 'string') {\n  rawBuf = Buffer.from(item.json.body, 'utf8');\n} else {\n  rawBuf = Buffer.from(JSON.stringify(item.json.body || {}), 'utf8');\n}\n\nconst signedContent = `${id}.${timestamp}.${rawBuf.toString('utf8')}`;\nconst secretBytes = Buffer.from(secret.replace(/^whsec_/, ''), 'base64');\nconst expected = crypto.createHmac('sha256', secretBytes).update(signedContent).digest('base64');\n\n// Svix may send several space-separated v1,xxx values. Accept if any matches.\nconst signatures = sigHeader.split(' ').map(s => s.trim()).filter(Boolean);\nlet valid = false;\nfor (const sig of signatures) {\n  const m = sig.match(/^v1,(.+)$/);\n  if (!m) continue;\n  const sigBuf = Buffer.from(m[1], 'base64');\n  const expBuf = Buffer.from(expected, 'base64');\n  if (sigBuf.length === expBuf.length && crypto.timingSafeEqual(sigBuf, expBuf)) { valid = true; break; }\n}\nif (!valid) throw new Error('Invalid Svix signature');\n\nlet parsed;\ntry { parsed = JSON.parse(rawBuf.toString('utf8')); } catch (e) { throw new Error('Body is not valid JSON: ' + e.message); }\n\n// Bridge: expose `event` so the downstream Switch keeps matching.\nreturn [{ json: { event: parsed.topic, payload: parsed } }];\n"
      },
      "id": "1f6c4d2e-6c1f-4f6a-8c80-c0a1ce2c0002",
      "name": "Verify Svix signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "call.completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "call.completed"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "1f6c4d2e-6c1f-4f6a-8c80-c0a1ce2c0003",
      "name": "Switch on event type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select public.process_allo_call($1::jsonb) as result",
        "options": {
          "queryReplacement": "={{ JSON.stringify($json.payload) }}"
        }
      },
      "id": "1f6c4d2e-6c1f-4f6a-8c80-c0a1ce2c0004",
      "name": "Postgres: process_allo_call",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [920, 220],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_NOSHO_CRM_SUPABASE_CRED_ID",
          "name": "Supabase nosho-crm (postgres pooler)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, result: $json.result } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "1f6c4d2e-6c1f-4f6a-8c80-c0a1ce2c0005",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1160, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, ignored: $json.event } }}",
        "options": {
          "responseCode": 202
        }
      },
      "id": "1f6c4d2e-6c1f-4f6a-8c80-c0a1ce2c0006",
      "name": "Respond 202 (ignored)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [920, 420]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Verify Svix signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Svix signature": {
      "main": [
        [
          {
            "node": "Switch on event type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch on event type": {
      "main": [
        [
          {
            "node": "Postgres: process_allo_call",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 202 (ignored)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: process_allo_call": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [{ "name": "allo-sync" }]
}
